# ENVIRONMENT

# OPERATING_MODE: 'development' or 'production'
# DEFAULT: 'development'
OPERATING_MODE='development'


# PostgreSQL Configuration
POSTGRESQL_DATABASE_NAME='ndg-database'
POSTGRESQL_USERNAME='postgres'
POSTGRESQL_PASSWORD='securepassword123'
POSTGRESQL_HOST='localhost'
POSTGRESQL_PORT='5432'

# API Configuration
API_ENABLED='true'
API_PORT='8000'

# Security
API_KEY_PEPPER='change-me-before-production'